<div class="contenedor-inicio">
  <div class="bloque-uno">
    <div class="degradado"></div>
    <img
      src="https://cdn.aarp.net/content/dam/aarp/entertainment/beauty-and-style/2020/04/1140-hair-products-on-table-esp.jpg"
      alt=""
    />
    <h2>
      ELABORAMOS Y DISTRIBUIMOS MAYORISTA Y MINORISTA, TE BRINDAMOS PRECIO Y
      CALIDAD.
    </h2>
  </div>

  <p>
    TODOS NUESTROS PRODUCTOS SON DE ORIGEN VEGETAL Y NATURAL PARA PODER
    BRINDARTE LOS MEJORES NUTRIENTES QUE UN CABELLO NECESITA, BRILLO,
    HIDRATACION, SUAVIDAD Y UN CABELLO SUPER SANO. REALIZAMOS ENTREGAS A
    DOMICILIO Y CONTAMOS CON PUNTOS DE VENTA, REALIZAMOS ENTREGAS
    PERSONALIZADAS.
  </p>

  <h2>Contactame Por:</h2>
  <div class="contenedor-contacto">
    <a target="_blank" href="https://pivigames.blog/">
      <app-icon [heightAndWidth]="50" [icono]="'whatsapp.svg'"></app-icon>
      <p>Whatsapp</p>
    </a>
    <a target="_blank" href="https://pivigames.blog/">
      <app-icon [heightAndWidth]="50" [icono]="'instagram.svg'"></app-icon>
      <p>Instagram</p>
    </a>
    <a target="_blank" href="https:/  pivigames.blog/">
      <app-icon [heightAndWidth]="50" [icono]="'facebook.svg'"></app-icon>
      <p>Facebook</p>
    </a>
  </div>
</div>
